{% extends 'base.html.twig' %}

{% block title %}Hello DetailAccountController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="table-responsive-md">
			<table class="table table-hover">
				<caption></caption>
				<thead>
					<tr class="table-active">
						<th scope="col">N° de transaction</th>
						<th scope="col">Description</th>
						<th scope="col">Débit</th>
						<th scope="col">Crédit</th>
					</tr>
				</thead>
				<tbody>
					{% for tableTransaction in tablesTransaction %}
						<tr>

							<th scope="row">{{tableTransaction.id|e }}</th>
							<td>{{ tableTransaction.description |e }}</td>
							<td>{{ tableTransaction.debit|e }}</td>
							<td>{{ tableTransaction.credit|e }}</td>

						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
